.code-box-demo {
  text-align: center;
}
.ant-layout-header,
.ant-layout-footer {
  color: #fff;
  background: #7dbcea;
  min-height: 10vh;
  text-align: center;
}
[data-theme='dark'] .ant-layout-header {
  background: #6aa0c7;
}
[data-theme='dark'] .ant-layout-footer {
  background: #6aa0c7;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  color: #fff;
  line-height: 120px;
  background: #3ba0e9;
}
[data-theme='dark'] .ant-layout-sider {
  background: #3499ec;
}
.ant-layout-content {
  text-align: left;
}

> .code-box-demo > .ant-layout + .ant-layout {
  margin-top: 48px;
}
