// General

body {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}
.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.ant-layout {
  background: #fff !important;
}

.main-layout .ant-layout-header {
  background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
}
p {
  font-size: 1rem;
  line-height: 1.6;
}
.bg-gray {
  background: #fafafa;
}

// Title holder
